langgraph
langchain
langchain-openai
langchain-groq
python-dotenv
langchain-community
langchain-text-splitters
langchain-tavily
langchain-chroma
langchain-core
langchain-huggingface
sentence-transformers
faiss-cpu
langchain_nvidia_ai_endpoints
pypdf
ddgs
tavily
streamlit